main{
    padding-left: 1.5em;
    padding-right: 1.5em;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: bisque;
}

header{
    padding: 0;
    text-align: center;
    background-color: #f6834f;
	padding: 10px;
	border-bottom: 2px solid #ffc79d;
}

.right{
	float: right;
	padding-left: 1.5em;
    padding-right: 1.5em;
}

h1{
    color: #f2f2f2;
}
nav a{
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

nav a:hover {
    background-color: #ddd;
    color: black;
}